services:
  # BANCO DE DADOS
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres_password
      POSTGRES_DB: acompanhamento_obras_db
    ports:
      - "5432:5432"
    networks:
      - app-net

  # BACKEND
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=run.py
      # Rodando localmente vale a definição de .env
      #- DATABASE_URL=postgresql+psycopg2://postgres:postgres_password@localhost:5432/acompanhamento_obras_db
      # No Docker a conexão agora usa o nome do serviço "db" (sobrescreve a definição em .env)
      - DATABASE_URL=postgresql+psycopg2://postgres:postgres_password@db:5432/acompanhamento_obras_db
    depends_on:
      - db
    volumes:
      - ./backend:/app
    command: flask run --host=0.0.0.0 --port=5000
    networks:
      - app-net

  # FRONTEND (Vite)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules # Protege os pacotes do container
    command: ["npm", "run", "dev", "--", "--host"]
    depends_on:
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge