name: Deploy Backend

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**' # Só dispara se você mexer na pasta do backend

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: backend        # Entra na pasta backend para o build
          file: backend/Dockerfile # Local do manual de instruções
          push: true
          tags: marcostsantost/app-carteira-backend:latest
          platforms: linux/amd64     # Garante que funcione no Azure

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'app-canteiro-digital-backend'
          images: 'marcostsantost/app-carteira-backend:latest'
